<!-- TOP SECTION -->
  <section class="container top-section">
    <div class="gallery">
      <div class="main-gallery">
        <div class="swiper-container main-gallery-container">
            <div class="swiper-wrapper">
                <div id="swiper-slide-1" class="swiper-slide">
                  <div class="gallery-p">
                <p class="d-inline first">בכל מקום</p>
                <p class="d-inline second">בדרך שלך</p>
                <p class="third">הפריסה הארצית הרחבה והנגישה<br>בישראל עם למעלה מ-280 תחנות<br>תדלוק ברחבי הארץ!</p>
                <p class="third-sm d-sm-none">הפריסה הארצית הרחבה והנגישה בישראל<br>עם למעלה מ-280 תחנות תדלוק ברחבי הארץ!</p>
                <button class="gallery-button">
                  לאיתור תחנות פזומט
                </button> 
              </div>
              <div class="blue-background d-sm-none">
                
              </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-2">
                  <p>insert your text here</p>
                </div>
                <div class="swiper-slide" id="swiper-slide-3">
                  <p>insert your text here</p>
                </div>
            </div>
            <div class="swiper-pagination main-pagination"></div>
            <div class="swiper-button-prev  swiper-button-white main-prev"></div>
            <div class="swiper-button-next  swiper-button-white main-next"></div>
        </div>
      </div>
      <form>
        <p>הצטרפו עכשיו<br>לפזומט</p>
        <div class="inputs d-flex flex-column align-items-center">
          <div class="input-wrapper">
         	 <input placeholder="   ח.פ./ת.ז" type="password" name="id">
         	 <span></span>
          </div>
          <div class="input-wrapper">
          	<input placeholder="   איש קשר" type="text" name="contact">
          	<span></span>
          </div>
          <div class="input-wrapper">
          	<input class="last-input" placeholder="   טלפון נייד" type="text" name="phone_number">
          	<span></span>
          </div>
        </div>
        <button>חזרו אליי</button>
      </form>
    </div>
    
    
    <div class="container gallery-nav-section">
        <nav class="gallery-nav navbar navbar-expand-lg">
          <ul class="d-flex flex-md-wrap flex-lg-nowrap flex-md-row flex-column justify-content-around align-items-center col">
            <li class="d-flex justify-content-center">
              <a class="" href="">
                <div class="icons-mobile d-flex justify-content-center align-items-center">
                  <div class="background-icon d-flex justify-content-center align-items-center">
                    <img src="../img/cash-icon.png">
                  </div>
                </div>
                <div class="nav-text-con">
                  <div class="gallery-nav-text d-flex flex-column justify-content-center">
                    <h2>פז cash</h2>
                    <p>כפתורי דמה אתר פז ויחליככגה לויהכךלנינל</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="d-flex justify-content-center">
              <a href="">
                <div class="icons-mobile d-flex justify-content-center align-items-center">
                  <div class="background-icon d-flex justify-content-center align-items-start">
                    <img class="wash-icon" src="../img/wash-icon.png">
                  </div>
                </div>
                <div class="nav-text-con">
                  <div class="gallery-nav-text d-flex flex-column justify-content-center">
                    <h2>פזומט wash</h2>
                    <p>כפתורי דמה אתר פז ויחליככגה לויהכךלנינל</p>
                  </div>
                </div>
              </a>
            </li>
            <br>
            <li class="d-flex justify-content-center">
              <a href="">
                <div class="icons-mobile d-flex justify-content-center align-items-center">
                  <div class="background-icon d-flex justify-content-center align-items-center">
                    <img class="fix-icon" src="../img/fix-icon.png">
                  </div> 
                </div>        
                <div class="nav-text-con">
                  <div class="gallery-nav-text d-flex flex-column justify-content-center">
                    <h2>פזומט fix</h2>
                    <p>כפתורי דמה אתר פז ויחליככגה לויהכךלנינל</p>
                  </div>
                </div>
                 <div class="w-100"></div>
              </a>
            </li>
            <li class="d-flex justify-content-center">
              <a href="">
                <div class="icons-mobile d-flex justify-content-center align-items-center">
                  <div class="background-icon d-flex justify-content-center align-items-center">
                    <img src="../img/service-icon.png">
                  </div>
                </div>
                <div class="nav-text-con">
                  <div class="gallery-nav-text d-flex flex-column justify-content-center">
                    <h2>מובילים בשירות</h2>
                    <p>כפתורי דמה אתר פז ויחליככגה לויהכךלנינל</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </nav>
    </div>
  </section>

  <!-- BOTTOM SECTION -->
  <section class="bottom-section">
    <div class="mishpatiot-player">
      <div id="mishpatiot-slider" class="swiper-container container">
        <p class="first-mobile d-lg-none d-inline-block">פרסומים משפטיים ורגולטורים</p>
          <div class="swiper-button-next swiper-button-down swiper-button-black">
            
          </div>
          <div class="mishpatiot-right-buttons">
            <div class="swiper-button-prev mishpatiot-prev swiper-button-black">

            </div>
            <div class="swiper-pagination fraction-pagination">
              
            </div>
            <div class="swiper-button-next mishpatiot-next swiper-button-next-right swiper-button-black">

            </div>
          </div>
          <div class="swiper-wrapper mishpatiot-swiper-wrapper">
              <div class="swiper-slide d-flex align-items-center justify-content-lg-start justify-content-center">
                <div class="slide-1-con d-flex">
                  <a href="">
                    <div class="play-btn-border d-lg-flex justify-content-center align-items-center">
                      <div class="play-btn">
                        
                      </div>
                    </div>
                  </a>
                  <div class="slide-1-p d-flex flex-column justify-content-between">
                    <p class="first">פרסומים משפטיים ורגולטורים</p>
                    <p class="second">שיהילחהש חיהכדךלחה חשיהדהדשח ןחעשחד לחשכך לחם חשפחחחציחלל</p>
                  </div>
                  
                </div>
              </div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
          </div>
      </div>
    </div>
    <div class="logo-gallery">
      <div class="swiper-container container" id="logo-swiper">
          <div class="swiper-wrapper">
              <div class="swiper-slide d-flex align-items-center justify-content-center">
                <div class="swiper-logos">
                  <img src="../img/zikuk-icon.png">
                  <img src="../img/yellow-icon.png" class="yellow">
                  <img src="../img/nituv-icon.png" class="img-just-lg">
                  <img src="../img/teufa-icon.png" class="img-just-lg">
                  <img src="../img/shmanim-icon.png" class="img-just-lg">
                  <img src="../img/sherutey-teufa-icons.png" class="last img-just-lg">
                </div>
              </div>
              <div class="swiper-slide d-flex align-items-center justify-content-center">
                <img class="d-lg-none" src="../img/nituv-icon.png">
                <img class="d-lg-none" src="../img/teufa-icon.png">
              </div>
              <div class="swiper-slide d-flex align-items-center justify-content-center">
                <img class="d-lg-none" src="../img/shmanim-icon.png">
                <img class="d-lg-none" src="../img/sherutey-teufa-icons.png" class="last">
              </div>
          </div>
          <div class="swiper-button-prev logos-prev swiper-button-black"></div>
          <div class="swiper-button-next logos-next swiper-button-black"></div>
      </div>
    </div>
  
  </section>