 <footer class="links">
      <div class="top-footer justify-content-lg-between container d-flex flex-lg-row flex-column">
        <div class="top-footer-mobile d-lg-none">
          <div>
            <a href=""><spen>עמוד הבית</spen></a>
            <a class="odot" href=""><spen>אודות</spen></a>
            <a class="last-in-row" href=""><spen>אחריות תאגידית</spen></a></div>
          <div>
            <a href=""><spen>חברות הקבוצה</spen></a>
            <a class="last-in-row" href=""><spen>התחנות שלנו</spen></a></div>
          <div>
            <a href=""><spen>קשרי משקיעים</spen></a>
            <a class="last-in-row" href=""><spen>צור קשר</spen></a></div>
        </div>
        <div class="footer-icon-nav-mobile d-lg-none d-flex flex-column justify-content-between">
          <div class="top d-flex flex-row">
            <div class="top-t col d-flex flex-column align-items-center">
              <img src="../img/icon-1.svg" class="icon1">
              <div class="icon-h">מועדון נאמנות</div>
            </div>
            <div class="bottom-t col d-flex flex-column align-items-center">
              <img src="../img/icon-2.svg" class="icon2">
              <div class="icon-h-2">איתור תחנת דלק</div>
            </div>
          </div>
          <div class="bottom d-flex flex-row">
            <div class="top-b col d-flex flex-column align-items-center">
              <img src="../img/icon-4.svg" class="icon4">
              <div class="icon-h">נתוני מנייה</div>
            </div>
            <div class="bottom-b col d-flex flex-column align-items-center">
              <img src="../img/icon-3.svg" class="icon3">
              <div class="icon-h-3">כנסו ושתפו</div>
            </div>
          </div>
        </div>
        <div class="right-footer d-lg-flex justify-content-start align-items-center">
          <ul class="r-ul">
            <a href=""><li>עמוד הבית</li></a>
            <a href=""><li>אודות</li></a>
            <a href=""><li>אחריות תאגידית</li></a>
            <a href=""><li>חברות הקבוצה</li></a>
          </ul>
          <ul class="l-ul">
            <a href=""><li>התחנות שלנו</li></a>
            <a href=""><li>קשרי משקיעים</li></a>
            <a href=""><li>קריירה</li></a>
            <a href=""><li>צור קשר</li></a>
          </ul>
        </div>
        <div class="left-footer d-lg-flex row">
          <ul class="d-flex flex-lg-row flex-column align-items-center justify-content-between">
            <a href="">
              <li>
                <img src="../img/icon-1.svg" class="icon1">
                <div class="icon-h">yellow friends</div>
              </li>
            </a>
            <a href="">
              <li>
                <img src="../img/icon-2.svg" class="icon2">
                <div class="icon-h">איתור תחנת דלק</div>            
              </li>
            </a>
            <a href="">
              <li>
                <img src="../img/icon-4.svg" class="icon4">
                <div class="icon-h">קשרי משקיעים</div>
              </li>
            </a>
            <a href="">
              <li>
                <img src="../img/icon-3.svg" class="icon3">
                <div class="icon-h">כנסו ושתפו</div>
              </li>
            </a>
          </ul>
        </div>
        
      </div>
      <div class="bottom-footer container d-flex flex-column-reverse flex-lg-row align-items-center justify-content-between">
        <div class="trademark flex-column flex-lg-row d-flex align-items-center justify-content-lg-start justify-content-center">
          <img src="../img/footer-logo.png">
          <p>כל הזכויות שמורות לפז חברת נפט בע"מ</p>
        </div>
        <ul class="footer-nav col-lg d-flex flex-row align-items-center justify-content-lg-end justify-content-around">
          <a href=""><li class="f-n">תנאי שימוש</li></a>
          <a href=""><li class="f-n">נגישות</li></a>
          <a href=""><li class="f-n">מחירונים</li></a>
          <a href=""><li class="last">מפת האתר</li></a>
        </ul>
      </div>
    </footer>