<nav class="navbar-toggleable-md navbar-toggleable-xs">
    <ul class="sub-nav-pazomat d-flex flex-lg-row navbar-nav navbar navbar-expand-lg">
        <li class="nav-item active">
            <a class="nav-link" href="#">
            	אודות
			</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">
            	נקודות שירות
			</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">
          	  טסטים ושירותים
       		</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">
           	 מחירונים
       		</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">
            	שירותים
        	</a>
        </li>
    </ul>
</nav>