<nav class="main-navigation navbar navbar-nav navbar navbar-expand-lg navbar-toggleable-md navbar-toggleable-xs collapse">
    <ul class="d-flex flex-lg-row flex-column">
        <li class="nav-item active d-flex justify-content-center align-items-center">
            <a class="nav-link" href="#">אודות</a>
        </li>
        <li class="nav-item active d-flex justify-content-center align-items-center">
            <a class="nav-link" href="#">אחריות תאגידית</a>
        </li>
        <li class="nav-item active d-flex justify-content-center align-items-center">
            <a class="nav-link" href="#">חברות הקבוצה</a>
        </li>
        <li class="nav-item active d-flex justify-content-center align-items-center">
            <a class="nav-link" href="#">פזומט</a>
        </li>
        <li class="nav-item active d-flex justify-content-center align-items-center">
            <a class="nav-link" href="#">התחנות שלנו</a>
        </li>
        <li class="nav-item active d-flex justify-content-center align-items-center">
            <a class="nav-link" href="#">קשרי משקיעים</a>
        </li>
        <li class="nav-item active d-flex justify-content-center align-items-center">
            <a class="nav-link" href="#">קריירה</a>
        </li>
        <li class="nav-item active d-flex justify-content-center align-items-center">
            <a class="nav-link" href="#">צרו קשר</a>
        </li>
    </ul>
</nav>